[init]
	defaultBranch = main

[user]
	name = "Eduardo Borges"
	signingkey = ""

[gpg]
  format = ssh

[commit]
  gpgsign = true

[push]
  autoSetupRemote = true

[pull]
  rebase = true

[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
  autocrlf = input
  whitespace = trailing-space,space-before-tab,indent-with-non-tab
	pager = diff-so-fancy | less --tabs=4 -RF
[color]
	ui = true
  diff = auto

[interactive]
	diffFilter = diff-so-fancy --patch
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
